* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
}

#logo {
	float: left;
	width: 7em;
}

nav {
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em; 
	font color: #44d9e6;
	word-spacing: 1em;
	padding: 1.5em;
	border: 1em;
}

nav:hover {
	opacity: .25;
}

.headerclearfix:after {
    visibility: hidden;
    display: block;
    font-size:0;
    content: " ";
    clear:both;
    height:0;
}

.imagesection {
	padding: 2em;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}

#plentifulimage {
	background-image: url(../images/plentiful.png);
	opacity: .85;
	height: 18em;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 3em;
	border-bottom: 4px
}

h2 {
	font-family: 'Slabo 27px', serif; 
	font-size: 2em;
	border-bottom: 1px solid black;
  	display:inline-block;
  	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-color: black;
	text-align: center;
	width: 720px;
}

.textsectionclearfix {
	padding: 2em;
	text-align: center;
}

#whatwedo {
	background-color: #6CE3EE
}

#list{
	float:left;
}

#productimage {
	float: right;
}

.textsectionclearfix:after {
    visibility: hidden;
    display: block;
    font-size:0;
    content: " ";
    clear:both;
    height:0;
}

#wherewecomein {
	background-color: #9FEFF6
}

#whoweare {
	background-color: #1FCBDB
}

.bios {
	padding: 2em;
	float: left;
	width: 33.3%;
	background-color: #1FCBDB
}

.textsectionclearfix:after {
    visibility: hidden;
    display: block;
    font-size:0;
    content: " ";
    clear:both;
    height:0;
}

.footer {
	padding: 2em;
	text-align: center;
	background: #9FEFF6
}

