* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	text-align: center;
	position: relative;
}

#topbar {
	background-color: #687d92;
	position: relative;
	border: 1em black solid;
}

#logo {
	height: .5em;
	width: .5em;
}

nav {
	font-family: 'Raleway', sans-serif;
	font-size: .8em; 
	text-align: left;
	padding: 2em;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#tart {
  display:block;
  margin: 0 auto;
}
h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 3em;
	color: #004c00;
	border-bottom: 4px
}
h2 {
	font-family: 'Slabo 27px', serif; 
	font-size: 2em;
	border-bottom: 4px solid black;
  	display:inline-block;
}
h3 {
	font-family: 'Slabo 27px', serif; 
	font-size: 1.5em;
	font-style: solid;
	text-align: center;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-color: black;
	width: 30em; 
}
#list {
	color:#FFD700;
	list-style: none;
  	margin: 0;
  	padding: 0;
  	text-align: center;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
