* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	text-align: center;
}

#topbar {
	background-color: #ffffff;
	position: relative;
	border: .1em black solid;
}

#logo {
	height: 5em;
	width: 5em;
}

header {
	float: left;
	clear: right;
}

nav {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em; 
	font color: #44d9e6;
	text-align: right;
	word-spacing: 1em;
	padding: 1.5em;
	border: 1em;
}

nav:hover {
	opacity: .25;
}

section {
	border: 1em;
	padding: 1.5px;
}

#imageoftartsection {
	background-image: url ("images/tomatotart.jpg");
	padding: .5em;
	margin: .5em;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 3em;
	color: #004c00;
	border-bottom: 4px
}

h2 {
	font-family: 'Slabo 27px', serif; 
	font-size: 2em;
	border-bottom: 4px solid black;
  	display:inline-block;
}

h3 {
	font-family: 'Slabo 27px', serif; 
	font-size: 1.5em;
	font-style: solid;
	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-color: black;
	text-align: center;
}

#information {
	background-color: rgba (233, 40, 40, 0.3);
	margin: 2.5em;
	padding: 2.5em;
	text-align: center;
}

#whatwedo {
	background-color: rgba (233, 40, 40, 0.3);
	float: left;
	clear: none;
	width: 25em;
}

#asidelist {
	background-color: rgba (233, 40, 40, 0.3);
	list-style: none;
  	text-align: center;
  	float: right;
  	clear: none;
}

.clearfix {
    overflow: auto;
}

#wherewecomein {
	background-color: rgba (233, 40, 40, 0.3);
	margin: 2em;
	padding: 2em;
}

#whoweare {
}

#ourproduct {
	background-color: rgba (233, 40, 40, 0.3);
	margin: 2em;
	padding: 2em;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
