body { 
	font-family: Helvetica;
	font-size: 12px;
	color: #222222;
    background: ("/unit_3/images/IMG_8648.JPG"); 
}
h1 {
	color: #0000FF;
}
#slogan {
	font-style: italic
}
ul {
    text-align: center;
    list-style-type: none;
}